<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   <form action="/menu/put" method="post" enctype="multipart/form-data">
        <label for="id">id</label>
        <input type="text" name="menuid">
        <br>

        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        
        <label for="price">Price</label>
        <input type="text" name="price">
        <br>
        
        <label for="photo">Photo</label>
        <input type="file" name="photo">
        <br>
        
        <input type="submit" value="kirim">
   </form>
</body>
</html>
